{% extends 'base.html.twig' %}

{% block title %}Slug index{% endblock %}

{% block body %}
    <h1>Slug index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slug in slugs %}
            <tr>
                <td>{{ slug.id }}</td>
                <td>{{ slug.slug }}</td>
                <td>{{ slug.type }}</td>
                <td>
                    <a href="{{ path('slug_show', {'id': slug.id}) }}">show</a>
                    <a href="{{ path('slug_edit', {'id': slug.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('slug_new') }}">Create new</a>
{% endblock %}
